{% extends "base.html" %}

{% block content %}
<h3 style="text-align:center">Игровые понятия</h3>
<h5 style="text-align:center"><strong>AoE&nbsp;(Area of Effect) или АоЕ способности</strong></h5>
<p>Способность, которая действует на определенной области. AoE- есть не только АоЕ способности, также АоЕ имеют и предметы – этот урон по области.</p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “Берите героев с сильными AoE-заклинаниями, потому что во вражеской команде есть герои, которые имеют иллюзии!”. </p>
<h5 style="text-align:center"><strong>Buff&nbsp;</strong>(бафф) </h5>
<p>Любой положительный эффект или усиливающее заклинание. Баффы дают разнообразные бонусы — от дополнительной скорости атаки до сопротивления урону. Баффер — игрок, специализирующийся на наложении баффов на союзников. </p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “Огр, кинь на меня бафф и я убью всех один!”. </p>

<h5 style="text-align:center"><strong>Caster</strong>&nbsp;(кастер, маг) </h5>
<p>Герой, чьей основной ударной силой являются заклинания. Как правило, герои-кастеры обладают большим запасом маны, разнообразием заклинаний и небольшим временем их перезарядки — это позволяет им закидывать вражескую команду магией.</p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “У них в команде много кастеров — нужно собрать корам Black King Bar”. </p>

<h5 style="text-align:center"><strong>Cooldown</strong>&nbsp;(CD, КД)</h5>
<p>Время, за которое перезаряжается та или иная способность героя.&nbsp; </p>
<p class="has-background has-very-light-gray-background-color"> Пример употребления: “У меня Black Hole кд 80 секунд!”.</p>

<h5 style="text-align:center"><strong>Creeps</strong>&nbsp;(крипы)</h5>
<p>Союзные юниты, которые помогают вам пробить путь на базу противника. Они выходят на линии вместе с героями и сражаются вместе с ними плечом к плечу против вражеских крипов и героев. Иными словами, крипы — это “массовка” в Dota 2, пушечное мясо, которому вы помогаете сносить здания врага. Кроме того, вражеские крипы — основной источник золота в Dota 2.</p>
<p class="has-background has-very-light-gray-background-color"> Пример употребления: “Отдефайте Т1 от крипов!”. </p>

<h5 style="text-align:center"><strong>Debuff</strong>&nbsp;(дебафф, проклятие) </h5>
<p>Любой негативный эффект или заклинание. Полная противоположность баффу — оно ослабляет вашего героя и/или не дает пользоваться теми или иными способностями.</p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “Кинь дебафф на Svenа”. </p>

<h5 style="text-align:center"><strong>Deny</strong>&nbsp;(денай, добивание) </h5>
<p>Убийство союзного крипа для того, чтобы его опыт и деньги не достался врагу. Когда у дружественного крипа становится меньше половины здоровья, вы получаете возможность наносить ему урон: нанеся последний удар по нему, вы не только избавите беднягу от страданий, но и не позволите противникам получить его деньги и опыт. Одна из основных обязанностей героев-саппортов на линии — добивать своих крипов. В некоторых случаях подобным образом можно добить и союзного героя.</p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “У меня 28 добитых крипов и из них 18 денаев!”. </p>

<h5 style="text-align:center"><strong>Farm</strong>&nbsp;(фарм, фарминг) </h5>
<p>Процесс заработка золота. Не важно, каким образом герой получает золото: от добивания крипов на линии, от шинкования нейтральных монстров в лесу или посредством убийств вражеских героев — за все это он получает деньги. Чем лучше фарм, тем быстрее в инвентаре героя появятся дорогие и мощные артефакты, которые помогут ему еще эффективнее уничтожать врагов. Фарм — главное святое слово для любого героя-кэрри.</p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “Не могу фармить, потому что вражеских хард-лайнер мешает добивать крипов”. </p>

<h5 style="text-align:center"><strong>FB</strong>&nbsp;(first blood, фб, первая кровь) </h5>
<p>Самое первое убийство в матче, открывающее счет. Игрок, сделавший это, получает намного больше золота за фраг и быстро вырывается вперед. FB на счету вашей команды — это отличное начало партии. </p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “Я в начале игры сделал ФБ”. </p>

<h5 style="text-align:center"><strong>Feeder</strong>&nbsp;(фидер, корм) </h5>
<p>Игрок, который слишком часто погибает, чем дает преимущество вражеской команде. В Dota 2 оставаться в живых несколько важнее, чем убивать героев противника: если вы часто «отдаетесь» врагам, то не только теряете собственные деньги и опыт, но и подводите всю свою команду. </p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “У нас в команде фидер!”. </p>

<h5 style="text-align:center"><strong>Gank</strong>&nbsp;(gang kill, ганк, ганг) </h5>
<p>Стратегия, при которой несколько героев объединяются, чтобы неожиданно напасть на врага и (в идеале) убить его. Если на мини-карте вы видите, как вокруг вашего героя собираются противники, знайте — вас собираются “ганкнуть”. </p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “Нужен ганг на низ!”. </p>

<h5 style="text-align:center"><strong>Harassment&nbsp;</strong>(харас) </h5>
<p>Продолжительное нанесение урона героям на линии. Если вы пытаетесь спокойно качаться на линии, однако враги постоянно плюются в вас болезненными заклинаниями, метают стрелы и при любой возможности бьют по лицу — то это и есть высокий харас. Впрочем, никто не запрещает вам делать то же самое, но в этом деле надо быть осторожным. </p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “Надо подхарасить вражеского героя, чтобы он потратил весь хилл или вовсе умер!”. </p>

<h5 style="text-align:center"><strong>Mega Creep</strong>&nbsp;(мегакрип) </h5>
<p>Усиленная версия обычного крипа. Когда вашей команде удастся пробиться на базу противника и разрушить все бараки ближнего или дальнего боя, с вашей стороны начнут рождаться намного более сильные юниты. Противник будет получать за них меньше золота, а их сила доставит им немало проблем. </p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “Враги сделали мега крипов, будет очень сложно дефать трон!”.</p>

<h5 style="text-align:center"><strong>Deffens</strong> (деф, дефать) </h5>
<p>Защищать базу или героя.</p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “У нас падает вышка, нам необходимо отдефать её!”</p>

<h5 style="text-align:center"><strong>True Sight&nbsp;</strong>(трусайт, просвет) </h5>
<p>Эффект, который дает возможность видеть невидимых героев. Настоящая головная боль для героев, которые полагаются на невидимость. True Sight дают некоторые способности и предметы.</p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “Нам нужен просвет, потому что у них в команде есть Riki!”. </p>

<h5 style="text-align:center"><strong>Triple</strong>&nbsp;(трипла) </h5>
<p>Стратегия, при которой на одной линии одновременно стоят три героя с одной стороны. Каждый получает меньше опыта, но у такой команды больше шансов убить вражеского героя и защититься в случае нападения. </p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “У них наверху трипла — мне здесь тяжко, помогите!”. </p>

<h5 style="text-align:center"><strong>Tower</strong>&nbsp;(тавер, башня, вышка) </h5>
<p>Основное защитное сооружение в Dota 2, наносящее большой урон и не позволяющее вам пройти на базу противника. Партия сводится к тому, чтобы разрушить все башни врага по одной или нескольким линиям и уничтожить его главное строение. Разрушение башен дает золото всей команде. О них мы тоже поговорим в следующих статьях.</p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “Сносите вышку, пока они все наверху”. </p>

<h5 style="text-align:center"><strong>Team Kill</strong>&nbsp;(тимкилл, тимвайп, тимвайт)</h5>
<p> Ситуация, когда вам удается убить всю команду противника. Отличное время для безопасного убийства Рошана или разноса вражеской базы. </p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “Сделали тимвайт и выиграли игру”. </p>

<h5 style="text-align:center"><strong>Stun</strong>&nbsp;(стан) </h5>
<p>Эффект оглушения. Оглушенный противник не может двигаться, атаковать или использовать способности — в течение ограниченного времени он полностью беззащитен. </p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “Кинь в него стан!”. </p>

<h5 style="text-align:center"><strong>Solo</strong>&nbsp;(соло) </h5>
<p>Cтратегия, при которой на линии качается один герой. С одной стороны, в этом случае он получает больше опыта (в Dota 2 опыт от убийства крипов делится между всеми союзными героями, находящимися рядом). С другой, стоять на линии сразу против двоих противников намного сложнее. </p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “Я могу стоять соло на лайне!”. </p>

<p><strong>Streak</strong>&nbsp;(стрик) — серия убийств. Если вам удается убивать вражеских героев и оставаться в живых, вы набираете стрик — для игрового баланса, награда за вашу голову тоже повышается с каждым фрагом. Таким образом, чем больше убийств вам удается сделать в течение одной жизни, тем больше ваш стрик и тем больше золота получит противник, который вас в конце концов спустит с небес на землю. </p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “У меня стрик из 10 убийств/10 выигранных игр на Pudge”.</p>

<h5 style="text-align:center"><strong>Silence&nbsp;</strong>(сайленс, сало) </h5>
<p>Особый эффект (дебаффа), запрещающий герою использовать заклинания в течение ограниченного времени. Настоящая проблема для героев, которые в бою полагаются в основном на силу своих способностей: вовремя наложенная немота может обезвредить того или иного персонажа. </p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “На мне сало”. </p>

<h5 style="text-align:center"><strong>Summoner</strong> (суммонер) </h5>
<p>Герой, который имеет способность призыва существ. </p>
<p class="has-background has-very-light-gray-background-color"> Пример употребления: “Возьми шейкера, они пикнули суммонеров”. </p>

<h5 style="text-align:center"><strong>Nuke</strong>&nbsp;(нюк) </h5>
<p>Заклинание, моментально наносящее большое количество урона. Многие способности героев в Dota 2 являются нюками — их довольно просто применять, что удобно для постоянного хараса героев противника. </p>
<p style="text-align:left" class="has-background has-very-light-gray-background-color">Пример употребления: “Не подставляйся под их нюки — у тебя не осталось хилла!”. </p>

<h5 style="text-align:center"><strong>Escape</strong> (эскейп, побег) </h5>
<p>Герои, у которых есть способности, позволяющие им быстро убежать из драки, спасаясь от смерти. Особенностью этих героев могут быть способности невидимости или телепортации. Несмотря на то, что эти герои могут быстро отступить, они также могут быстро внедриться в битву, используя элемент неожиданности. </p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “У вражеского мидера нету эскейпа!”. </p>

<p><strong>Хил/хилер –</strong> это герои или предметы, которые восстанавливают здоровья команды.</p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “У меня закончился хил!”. “У врагов есть хилер — его нужно убить первым!”</p>
<h3 style="text-align:center"><br>Роли и позиции в игре</h3>
<h5 style="text-align:center"><strong>Support (Саппорт, 5 позиция</strong> <strong>– полная поддержка)</strong> &nbsp;</h5>
<p>Самые бедные герои на карте. Они в основном привязаны к одной из линий и оберегают своего кор-героя от агрессии врага. Именно “пятерки” обеспечивают команде обзор вардами, покупают курьера и расходные предметы (сентри, дасты, смоки). На эту позицию в основном берут героев с полезными заклинаниями на всех стадиях игры и которым почти не нужно золото и предметы.</p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “Возьмите саппортов в изи-лайн”. </p>

<h5 style="text-align:center"><strong>Support</strong> (<strong>саппор</strong>т, <strong>4-ая позиция – частичная поддержка)</strong>&nbsp;</h5>
<p>Герои поддержки. Их главная задача&nbsp; обеспечение комфортных условий&nbsp;кор-игрокам&nbsp;(керри, мид, оффлейн) и создание неудобств врагам. Саппортами выступают 2 игрока команды. Принято их разделять на 4 и 5 позиции. “Четверки” —&nbsp;роум-герои, которые больше перемещаются по карте, пытаются делать убийства на линии, контролируют руны и так далее. Также они собирают предметы, которые бафают союзников</p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “Возьмите саппортов в хард-лайн”. </p>

<h5 style="text-align:center"><strong>Roamer&nbsp;(роумер, гангер)</strong> </h5>
<p>Герой, который почти не стоит на своей линии, но бегает по всей карте, помогая союзникам убивать вражеских персонажей. Во многом благодаря усилиям роумера команде удается стабильно ганкать героев противника, но играть на этой роли надо уметь.</p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “У них есть герой, который роумит”. </p>

<h5 style="text-align:center"><strong>Хардлейнер (оффлейнер, 3 позиция)</strong>&nbsp;</h5>
<p>Это игрок, который стоит на сложной линии. Понятие “сложной” сейчас немного неактуально. Раньше крипы на одной из боковых линий встречались гораздо ближе к вражеской вышке. Получать опыт и золото в такой ситуации было крайне сложно, особенно учитывая что стоять нередко приходилось сразу против троих вражеских персонажей.</p>
<p>В таких условиях играть мог герой только с наличием “эскейпа” (невидимости, уклонения, быстрого перемещения) или крайне живучий “толстый” персонаж. В современной Доте баланс линий лучше, и играть на “сложной” проще. К тому же на помощь хардлейнеру иногда отправляют героя поддержки.</p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “Осталось пикнуть 3 позицию”. </p>

<h5 style="text-align:center"><strong>Mider (Мидер, Соло мид, 2-ая позиция)</strong>&nbsp;</h5>
<p>Игрок центральной линии. Название роли как бы намекает, что он стоит линию в одиночку. Мидеров принято считать второй позицией команды. Это герой-плеймейкер. Он быстрее всех получает опыт и уровень, имеет относительно хороший фарм (добычу золота) в начале игры и обычно сильные способности для ранних драк. </p>
<p class="has-background has-very-light-gray-background-color"> Пример употребления: “Мидер – дно!”. </p>

<h5 style="text-align:center"><strong>Carry</strong>&nbsp;(кэрри, керри) </h5>
<p>Тип особо сильных и опасных героев, чей потенциал раскрывается на поздних этапах игры. Кэрри — это те персонажи, которые способны “вытащить” игру из самого неблагоприятного расклада, при условии, что они получают достаточно опыта и золота. Игроки, которые берут на себя роль кэрри в команде, должны сосредоточиться на эффективном получении золота и избегании смерти. </p>
<p class="has-background has-very-light-gray-background-color">Пример употребления: “У нашего кэрри нету слотов”. </p>

<p><strong>Bot</strong>&nbsp;(bottom line, бот, низ, нижняя линия) — как ни странно, линия, расположенная внизу.<br></p>
<p><strong>Dire</strong>&nbsp;(злые, тьма) — одна из двух сторон конфликта Dota 2, антипод Radiant. Их база располагается в правом верхнем углу карты.<br></p>
<p><strong>Jungle</strong>&nbsp;(forest, лес, джангл) — область, в которой возрождаются нейтральные монстры, убийство которых приносит опыт и деньги — так же, как и смерть крипов на линии. <br></p>
<p><strong>Line</strong>&nbsp;(лайн, линия, сторона) — одно из трех направлений движения крипов. Есть три основных линии — центральная (мид), нижняя (бот) и верхняя (топ).<br></p>
<p><strong>Mid</strong>&nbsp;(Middle Line, мид, центр) — центральная линия, она же самая короткая. Как правило, в первые минуты игры именно на этом направлении разворачивается дуэль двух героев — по одному с каждой стороны.<br></p>
<p><strong>Top</strong>&nbsp;(top line, топ, верх) – Верхняя линия. </p>
<h5 style="text-align:center"><strong>Radiant</strong>&nbsp;(добрые, свет) </h5>
<p>Одна из двух сторон конфликта Dota 2, антипод Dire. Их база располагается в левом нижнем углу карты.<br></p>
<h5 style="text-align:center"><strong>Roshan</strong>&nbsp;(Rosh, Роша) </h5>
<p>Уникальный и очень сильный монстр, убийство которого дает золото всей команде. Кроме того, Рошан роняет предмет Aegis of Immortal, который дает своему обладателю возможность тут же возродиться после смерти и вернуться в бой с полными силами. Убийство Рошана может перевернуть ход всего матча. <br></p>
<h5 style="text-align:center"><strong>Rune</strong>&nbsp;(руна) </h5>
<p>Особый предмет, дающий временные бонусы. Каждые две минуты на карте появляется одна руна. Мест ее появления два (выбираются случайным образом) — оба места располагаются на реке, делящей карту Dota 2 на две равные части. Всего существует пять видов рун: </p>
<ul><li>Руна Ускорения (дает максимальную скорость передвижения)</li><li>Руна Регенерации (за несколько секунд восстанавливает ваш запас здоровья и маны)</li><li>Руна Иллюзий (создает две копии вашего героя)</li><li>Руна Двойного урона (внезапно — в два раза увеличивает ваш урон)</li><li>Руна Невидимости (думаю, вы и так понимаете).</li></ul>
<h5 style="text-align:center"><strong>Secret Shop&nbsp;</strong>(секретный магазин, лесной магаз) </h5>
<p>Особое место на карте, где можно купить самые мощные и дорогие предметы, необходимые для создания наиболее мощных и дорогих артефактов. Таких магазинов два — по одному с каждой стороны.<br></p>
<h5 style="text-align:center"><strong>Side Shop</strong>&nbsp;(сайд шоп, боковой магазин) </h5>
<p>Магазин с ограниченным ассортиментом предметов, который располагается на боковых линиях.<br></p>
<h5 style="text-align:center"><strong>Ward Place</strong>&nbsp;(вардплейс)</h5>
<p>Особое место на карте, куда удобно ставить Observer Ward, дающий видимость в небольшой зоне. Особыми знаками на карте Dota 2 отмечены лишь четыре вардплейса, однако на деле их гораздо больше — экспериментируйте! Подробнее о грамотной расстановке Observer Ward мы тоже с вами обязательно поговорим.<br></p>
<h3 style="text-align:center">Чат</h3>
<p><strong>B</strong>&nbsp;(back, назад) — “Отсупайте немедленно!”.<br></p>
<p><strong>Def&nbsp;</strong>(defend, деф) — “Защищайте линию!”.<br></p>
<p><strong>GG</strong>&nbsp;(good game, гг) — “Хорошая игра!” / “Хорошо сыграно!”.<br></p>
<p><strong>Miss</strong>&nbsp;(mia, мисс, ss, cc) — “Враг ушел с линии!”.<br></p>
<p><strong>OOM&nbsp;</strong>(out of mana) — “Нет маны!”.<br></p>
<p><strong>Push</strong>&nbsp;(пуш, пронос) — “Наступайте по этой линии!” / “Сносите вышки!”.<br></p>
<p><strong>WP</strong>&nbsp;(well played, вп) — “Хорошо сыграно!”.<br></p>
<p><strong>GL HF</strong>&nbsp;(good luck, have fun) — “Удачи и приятного времяпрепровождения!”.</p>
{% endblock %}