{% extends "base.html" %}

{% block content %}
<p>
    {% if current_user.is_authenticated %}
        {% if current_user.is_admin == 1 %}
            <a class="btn btn-dark " href="/add_news_dota">Добавить новость</a>
        {% endif %}
    {% endif %}
</p>
{% for news in news_list %}
    <div class="news">
        <div class="card">
            <div class="date">{{ news.date }}</div>
            <br>
            <br>
            <br>
            <br>
            <img src="{{ news.image }}" class="card-img-top">
            <div class="card-body">
                <p class="card-text">
                    <a href="/news/{{ news.id }}"><h2>{{ news.header }}</h2></a>
                    <div>{{ news.description }}</div>
                </p>
            </div>
        </div>
    </div>
<br>
<br>
{% endfor %}
{% endblock %}