{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    {% if current_user.is_admin == 1 %}
    <a class="btn btn-dark" href="/add_news_random_game">Добавить новость</a>
    {% endif %}
    {% endif %}
{% for news in news_list %}
    <div class="news">
        <div class="card">
            {% if news.game == "dota" %}
                <br>
                <h1 class="news_header">Dota 2</h1>
                <br>
                <div class="date">{{ news.date }}</div>
                <img src="{{ news.image }}" class="card-img-top">
            {% elif news.game == "cs" %}
                <br>
                <h1>CS:GO</h1>
                <br>
                <div class="date">{{ news.date }}</div>
                <img src="{{ news.image }}" class="card-img-top">
            {% else %}
            <br>
                <h1>{{ news.game }}</h1>
                <br>
                <div class="date">{{ news.date }}</div>
                <img src="{{ news.image }}" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <p class="card-text">
                <a href="/news/{{ news.id }}"><h2>{{ news.header }}</h2></a>
                <div>{{ news.description }}</div>
                </p>
            </div>
        </div>
    </div>
<br>
<br>
{% endfor %}
{% endblock %}